.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #ffc800;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none; }

.btn:before {
  height: 0%;
  width: 2px; }

.btn:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Style Script', cursive; }

a {
  text-decoration: none;
  color: #555; }

p {
  color: #555; }

h4 {
  color: #555;
  padding-top: 10px;
  font-weight: normal;
  text-align: center; }

.rating .fas {
  color: #ff523b; }
  .rating .fas:hover {
    box-shadow: 0px 5px 5px #aaaaaa; }

ul {
  list-style-type: none; }

.row {
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around; }
  .row .col-2 {
    flex-basis: 50%;
    min-width: 300px; }
    .row .col-2 img {
      max-width: 100%;
      padding: 50px 0; }
    .row .col-2 h1 {
      font-size: 50px;
      line-height: 60px;
      padding: 25px 0; }
  .row .col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px; }
    .row .col-3 img {
      width: 100%; }

.fa.fa-quote-left {
  font-size: 34px;
  color: #ff523b; }

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px; }

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

section {
  position: relative;
  width: 100%;
  max-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff; }
  @media (max-width: 990px) {
    section {
      padding: 20px 20px 120px;
      max-height: 2000vh; } }
  section header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    section header-active {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #fff;
      filter: invert(1);
      z-index: 10; }
    @media (max-width: 990px) {
      section header {
        padding: 20px; } }
    section header .logo {
      position: absolute;
      max-width: 80px; }
      @media (max-width: 990px) {
        section header .logo {
          max-width: 50px; } }
    section header .toggle {
      position: relative;
      width: 50px;
      height: 30px;
      cursor: pointer;
      background: url(./../images/menu.png);
      background-size: 30px;
      background-position: center;
      background-repeat: no-repeat;
      filter: invert(1);
      z-index: 11; }
      @media (max-width: 990px) {
        section header .toggle {
          display: flex; } }
      section header .toggle-active {
        position: fixed;
        right: 20px;
        background: url(./../images/close.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat; }
    section header ul {
      position: relative;
      display: flex;
      font-size: 1.4rem; }
      @media (max-width: 990px) {
        section header ul {
          display: none; } }
      section header ul li {
        list-style: none; }
        section header ul li a {
          display: inline-block;
          color: #333;
          margin-left: 40px;
          font-weight: 400;
          text-decoration: none; }

.brands {
  margin: 100px auto; }
  .brands .col-5 {
    width: 160px; }
    .brands .col-5 img {
      width: 100%;
      cursor: pointer;
      filter: grayscale(100%); }
      .brands .col-5 img:hover {
        filter: grayscale(0); }

.testimonial {
  padding-top: auto; }
  .testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); }
    .testimonial .col-3 img {
      width: 50px;
      margin-top: 20px;
      border-radius: 50%; }
    .testimonial .col-3:hover {
      transform: translateY(-10px); }
    .testimonial .col-3 p {
      font-size: 12px;
      margin: 12px 0;
      color: #777; }
    .testimonial .col-3 h3 {
      font-weight: 600;
      color: #555;
      font-size: 16px; }

.footer {
  background: #000;
  color: #8a8a8a; }
  .footer .row {
    padding-top: 5%; }
    .footer .row h3 {
      color: #fff;
      margin-bottom: 20px; }
    .footer .row .footer-col-1 {
      min-width: 250px;
      margin-bottom: 20px;
      flex-basis: 30%; }
      .footer .row .footer-col-1 .app-logo {
        margin-top: 20px; }
        .footer .row .footer-col-1 .app-logo img {
          width: 140px; }
    .footer .row .footer-col-2 {
      min-width: 250px;
      margin-bottom: 20px;
      flex: 1;
      text-align: center; }
      .footer .row .footer-col-2 img {
        width: 180px;
        margin-bottom: 20px; }
    .footer .row .footer-col-3 {
      min-width: 250px;
      margin-bottom: 20px;
      flex-basis: 12%;
      text-align: center; }
    .footer .row .footer-col-4 {
      min-width: 250px;
      margin-bottom: 20px;
      flex-basis: 12%;
      text-align: center; }
  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0; }
  .footer .copyright {
    text-align: center;
    padding-bottom: 20px; }

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 930px) {
    .content {
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 100px; } }
  .content .textBox {
    position: relative;
    max-width: 600px; }
    @media (max-width: 930px) {
      .content .textBox {
        max-width: 100%; } }
    .content .textBox h2 {
      color: #333;
      font-size: 3em;
      line-height: 1.6em;
      font-weight: 500; }
      @media (max-width: 930px) {
        .content .textBox h2 {
          font-size: 2.5em;
          margin-bottom: 15px;
          line-height: 1.4em; } }
      .content .textBox h2 span {
        color: #ffc800;
        font-size: 1.2em;
        font-weight: 900; }
    .content .textBox p {
      color: #333; }
  .content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px; }
    @media (max-width: 930px) {
      .content .imgBox {
        max-width: 100%;
        justify-content: center; } }
    .content .imgBox img {
      max-width: 340px; }
      @media (max-width: 930px) {
        .content .imgBox img {
          max-width: 300px; } }

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex; }
  .thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer; }
    .thumb li:hover {
      transform: translateY(-15%); }
    .thumb li img {
      max-width: 60px; }
      @media (max-width: 930px) {
        .thumb li img {
          max-width: 40px; } }

.sci {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffc800; }
  .sci li {
    list-style: none; }
    .sci li:hover {
      transform: translateX(-50%); }
    .sci li a {
      display: inline-block;
      margin: 5px 0;
      transform: scale(0.6);
      filter: invert(1); }

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffc800;
  clip-path: circle(600px at right 800px); }
  @media (max-width: 930px) {
    .circle {
      clip-path: circle(400px at center bottom); } }

.categories {
  margin: 70px 0; }

.litle {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555; }
  .litle::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  border-radius: 5px;
  border: 0 solid white;
  transition: .5s; }
  .col-4 img {
    width: 100%; }
  .col-4 p {
    font-size: 14px;
    text-align: center; }
  .col-4:hover {
    box-shadow: 0px 5px 5px #aaaaaa; }
  .col-4 .rating {
    text-align: center; }

.footer {
  background: #fffa19;
  color: #8a8a8a; }
  .footer .row {
    padding-top: 5%; }
    .footer .row h3 {
      color: #0e0d0d;
      margin-bottom: 20px; }
    .footer .row .footer-col-1 {
      min-width: 250px;
      margin-bottom: 20px;
      flex-basis: 30%; }
      .footer .row .footer-col-1 h3 {
        text-align: center; }
      .footer .row .footer-col-1 .app-logo {
        margin-top: 20px; }
        .footer .row .footer-col-1 .app-logo img {
          width: 140px; }
    .footer .row .footer-col-2 {
      min-width: 250px;
      margin-bottom: 20px;
      flex: 1;
      text-align: center; }
      .footer .row .footer-col-2 img {
        width: 180px;
        margin-bottom: 20px; }
    .footer .row .footer-col-3 {
      min-width: 250px;
      margin-bottom: 20px;
      flex-basis: 12%;
      text-align: center; }
    .footer .row .footer-col-4 {
      min-width: 250px;
      margin-bottom: 20px;
      flex-basis: 12%;
      text-align: center; }
  .footer hr {
    border: none;
    background: #141313;
    height: 1px;
    margin: 20px 0; }
  .footer .copyright {
    text-align: center;
    padding-bottom: 20px; }

.navigation__checkbox {
  display: none; }

@media (min-width: 990px) {
  .navigationn {
    display: none; } }

.navigation__button {
  background-color: #fff;
  height: 3rem;
  width: 3rem;
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 5rem;
  cursor: pointer; }

.navigation__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  background-image: radial-gradient(#ffb900, #28b485);
  z-index: 1000;
  transition: transform 1s; }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  font-size: 1.2em;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #eee;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, #ffb900 0%, #ff7730 50%, #fff 50%);
  transition: all 0.4s;
  background-size: 220%; }

.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1rem;
  display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translate(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 1.5rem;
  margin-left: .5rem; }

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 2rem;
  height: 2px;
  background-color: #333;
  display: inline-block; }

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0rem;
  transition: all 0.2s; }

.navigation__icon::before {
  top: -.5rem; }

.navigation__icon::after {
  top: .5rem; }

@media (min-with: 990px) {
  .navigation__button:hover .navigation__icon::before {
    top: -1.5rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1.5rem; } }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(45deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-45deg); }
